{% extends 'main.html' %}
{% load static %}

{% block content %}
<main>
    <form class="announcment-grid" action="" method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
          <div class="announcment-user-info">
            <div class="announcment-photos">
              <div id="ChangeDiv" class="big-photo">
                      <label for="image" class="image-label">
                        <img id="myImgElement" style="margin-top:120px;margin-bottom:120px;height:150px; width:150px;border-width:0;cursor:pointer;" src="{% static 'icons/white-plus.png' %}">
                      </label>
                      <input type="file" id="image" name="image" style="display:none;" accept=".png,.jpeg,.jpg">
              </div>
            </div>
              {% for message in messages %}
              <p style="display:flex;justify-content:center;
font-family:'Comfortaa';">{{message}}</p>
              {% endfor %}
            <div class="announcment-user" style="background:#dbebe6;border-width:0;">

            </div>
          </div>
          <div class="announcment-info">
            <div class="announcment-info-container">
              <p class="announcment-dog-title">Інформація:</p>
              <a href="{% url 'home' %}">&#8592</a>
            </div>
            <hr>
            <div class="announcment-dog-char">
               <div class="announcment-dog-char-column"><p class="char">Назва оголошення:</p>
                    <p class="char">Порода:</p>
                    <p class="char">Вік:</p>
                    <p class="char">Стать:</p>
                    <p class="char">Наявність документів:</p>
                    <p class="char">Призначення:</p>
                    <p class="char">Область/місто:</p>
                    <p class="char">Ціна:</p>
                    <p class="announcment-dog-title">Опис:</p>


               </div>
               <div class="announcment-dog-char-column">
                    <input required class="update" type="text" name="name" value="{{announcment.name}}">
                    <select name="breed" class="announcment-select">
                        {% for breed in breeds %}
                        <option value="{{breed}}">{{breed}}</option>
                        {% endfor %}
                    </select>
                    <input required class="update" type="text" name="old" value="{{announcment.old}}">
                    <select name="sex" class="announcment-select">
                        <option value="Пес">Пес</option>
                        <option value="Сука">Сука</option>
                    </select>
                    <input class="update" type="text" name="documents" value="{{announcment.documents}}">
                    <select name="purpose" class="announcment-select">
                        {% for purpose in purposes %}
                        <option value="{{purpose}}">{{purpose}}</option>
                        {% endfor %}
                    </select>
                    <select name="city" class="announcment-select">
                        {% for city in cities %}
                        <option value="{{city}}">{{city}}</option>
                        {% endfor %}
                    </select>
                    <input required class="update" type="number" name="price" value="{{announcment.price}}" style="margin-right:0;display:inline-block;"><span style="display:nline-block;">₴</span>
                    <textarea class="update-description" name="description" >{{announcment.description}}</textarea>
                    <input id="submit-btn" type="submit" value="Створити" class="change">
               </div>
            </div>

          </div>
    </form>

    <script>
        var fileInput = document.getElementById('image');
        var imgElement = document.getElementById('myImgElement');
        var divElement = document.getElementById('ChangeDiv');

        fileInput.addEventListener('change', function() {
          var file = fileInput.files[0];
          var reader = new FileReader();

          reader.addEventListener('load', function() {
            imgElement.src = reader.result;
            imgElement.style.cssText = 'height:100%;width:100%;margin:0;object-fit:cover;overflow:hiden;min-height:350px;max-height:350px;border-width:0px;';
          });

          reader.readAsDataURL(file);
        });
    </script>
 </main>
{% endblock %}