{% extends 'main.html' %}
{% load static %}
{% block content %}
<main>
      <div class="main-container">

        <form class="search" action="{% url 'home' %}" method="GET">
            <div class="choose-container">
              <select id="pet-select" class="home-select" name="city">
                {% if selected_city %}
                <option value="{{selected_city}}">{{selected_city|truncatechars:14}}</option>
                {% else %}
                <option value="">Область/Місто</option>
                {% endif %}

                {% for city in cities %}
                {% if city.name != selected_city %}
                <option value="{{city.name}}">{{city.name|truncatechars:14}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="choose-container" style="justify-content:left;padding-left:15px;">
              <select id="" class="home-select" style="width:130px;" name="breed">
                {% if selected_breed %}
                <option value="{{selected_breed}}">{{selected_breed}}</option>
                {% else %}
                <option value="">Порода</option>
                {% endif %}

                {% for breed in breeds %}
                {% if breed.name != selected_breed %}
                <option value="{{breed.name}}">{{breed.name}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="sex-container">
                <p class="sex-p">Стать</p>
                <div>
                   <input class="sex-checkbox" type="radio" name="sex" value="Пес">
                   <label class="label-sex" style="display:inline-block;">Пес</label>
                </div>

                <div>
                   <input class="sex-checkbox" type="radio" name="sex" value="Сука">
                   <label class="label-sex" class="label-sex">Сука</label>
                </div>

            </div>

            <div class="choose-container" style="justify-content:left;padding-left:15px;">
              <select class="home-select" style="width:130px;" name="purpose">
                {% if selected_purpose %}
                <option value="{{selected_purpose}}">{{selected_purpose}}</option>
                {% else %}
                <option value="">Призначення</option>
                {% endif %}

                {% for purpose in purposes %}
                {% if purpose.name != selected_purpose %}
                <option value="{{purpose.name}}" >{{purpose.name}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>

            <div style="display:flex;justify-content:center;align-items:center;">
              <input type="submit" value="Пошук" style="background: #79B5BD;border-radius: 10px; border-width:0;font-family: 'Comfortaa';font-size: 24px;display: flex;align-items: center;text-align: center;
    color: #F0F0F0;padding:10px;margin-top:20px;cursor:pointer;">
            </div>
        </form>

        <div class="articles-grid">
          {% for announcment in announcments %}
          <div class="article-container">
            <div class="image-container">
              <a href="{% url 'announcment' announcment.id %}"><img src="{{announcment.image.url}}"></a>
              {% if announcment.owner == request.user %}
                <a href="{% url 'delete-announcment' announcment.id %}" class="cross">╳</a>
              {% endif %}
            </div>
            <div class="article">
              <a class="article-info" href="{% url 'announcment' announcment.id %}">
                <div class="age-info">

                  <div class="age">
                    {{announcment.name|truncatechars:20}}
                  </div>
                </div>
                <div class="age-info">
                  <img src="{% static 'icons/age-icon.png' %}">
                  <div class="age">
                    {{announcment.old|truncatechars:20}}
                  </div>
                </div>
                <div class="race-info">
                  <img src="{% static 'icons/race-icon.png' %}">
                  <div class="race">
                    {{announcment.breed|truncatechars:20}}
                  </div>
                </div>
                <div class="breed-info">
                  <img src="{% static 'icons/breed-icon.png' %}">
                  <div class="breed">
                    {{announcment.sex|truncatechars:20}}
                  </div>
                </div>
                <div class="club-info">
                  <img src="{% static 'icons/club-icon.png' %}">
                  <div class="club">
                    {{announcment.documents|truncatechars:20}}
                  </div>
                </div>
                <div class="place-info">
                  <img src="{% static 'icons/place-icon.png' %}">
                  <div class="place">
                    {{announcment.city|truncatechars:20}}
                  </div>
                </div>
                <div class="poshuk-info">
                  <img src="{% static 'icons/poshuk-icon.png' %}">
                  <div class="poshuk">
                    {{announcment.purpose|truncatechars:20}}
                  </div>
                </div>
                <p class="price">
                  {{announcment.price|truncatechars:10}}₴
                </p>
              </a>
              {% if request.user in announcment.favorites.all %}
              <div class="article-like">
                <a style="cursor:pointer;" onclick="saveScrollPosition()" href="{% url 'delete-favorites' announcment.id %}"><img style="height:27px;width:27px;" src="{% static 'icons/red-heart-icon.png' %}"></a>
              </div>
              {% else %}
              <div class="article-like">
                <a style="cursor:pointer;" onclick="saveScrollPosition()" href="{% url 'add-favorites' announcment.id %}"><img src="{% static 'icons/heart-icon.png' %}"></a>
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

  <script>
  function saveScrollPosition() {
    sessionStorage.setItem('scrollPosition', window.pageYOffset);
  }

  window.onload = function() {
      const scrollPosition = sessionStorage.getItem('scrollPosition');
      if (scrollPosition) {
        window.scrollTo(0, scrollPosition);
        sessionStorage.removeItem('scrollPosition');
      }
    }
  </script>


  </script>
</main>
{% endblock %}